/*
FONTS
**********/

@font-face {
    font-family: "Kanit Regular";
    src: url("../fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Kanit Light";
    src: url("../fonts/Kanit-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Kanit ExtraLight";
    src: url("../fonts/Kanit-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Kanit Thin";
    src: url("../fonts/Kanit-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Karla Bold";
    src: url("../fonts/Karla-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Karla Regular";
    src: url("../fonts/Karla-Regular.ttf") format("truetype");
}
