---
layout: default
pagina: "cookies"
title: "Cookies policy"
description: "Cookies policy description, use and funtionability."
keywords: "VDOS, cookies policy, nap experience, thrid party cookies, own cookies, functioning of cookies, disable cookies"

sitemap:
  loc: http://www.vdos.com/en/cookies.html
  changefreq: monthly
  priority: 0.5
  lastmod: 2017-02-03T15:00:00+01:00
---
            <section class="container-fluid no-padding bg-brand-color">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {% include breadcrumbs.html active_lang='en' %}
                        </div>
                        <h1 class="col-xs-12 col-md-12 white-color padding-bottom60">Cookies policy</h1>
                    </div>
                </div>
            </section>
            <article class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="warm-grey-color padding-top30 padding-bottom30 text-size22">
                            Like most websites, vdos.com uses cookies aiming to improve and optimize the user browsing experience. By using the website, you are accepting the cookies policy.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="warm-grey2-color"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>What are cookies?</h2>
                        <p class="warm-grey2-color">Cookies are files downloaded to the user's device when accessing certain web pages that provide information about browsing.</p>
                        <p class="warm-grey2-color">This information allows to know  navigation habits, which pages are visited and how often, as well as if there are any technica lissues.</p>
                        <p class="warm-grey2-color">Thanks to this information, vdos.com may continue to improve its service to users and their browsing experience.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Typology, purpose and functioning of cookies</h2>
                        <p class="warm-grey2-color">There are several types of cookies depending on different criteria:</p>
                        <p class="warm-grey2-color">Depending on their ownership:</p>
                        <ul>
                            <li>Own cookies: those belonging to vdos.com.</li>
                            <li>Third Party cookies: those owned by a third party other than vdos.com.</li>
                        </ul>
                        <p class="warm-grey2-color">Depending on their purpose:</p>
                        <ul>
                            <li>Technical cookies: Those that serve to improve the service, identify occurrences, etc.</li>
                            <li>Analytic or advertising cookies. This type of cookies are used to analyze information about navigation and to offer advertising, either generic or personalized.</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 margin-bottom40">
                        <h2>How to Disable cookies in most commonly used Browsers</h2>
                        <p class="warm-grey2-color">Usually it is possible to stop accepting cookies from the navigator, or to stop accepting the cookies of a particular Service. In this case, you may not be able to access any of the services and the browsing experience may be less satisfactory.</p>
                        <p class="warm-grey2-color">In most commonly used browsers, you may disable the use of cookies from the "options" or "preferences" menu options of your browser.</p>
                        <p class="warm-grey2-color">The following links provide a more detailed description on how to block or allow cookies in most commonly used browsers.</p>
                        <ul>
                            <li><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a></li>
                            <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Firefox</a></li>
                            <li><a href="https://support.google.com/chrome/answer/95647?hl=en">Google Chrome</a></li>
                            <li><a href="https://support.apple.com/kb/ph5042?locale=en_US">Safari</a></li>
                        </ul>
                    </div>
                </div>

            </article>

            {% include default-js.html %}
