---
layout: default
pagina: "historia"
title: "VDOS: 20 years experience"
description: "VDOS was created over 20 years ago with the objective of offering services and solutions for the asset management industry."
keywords: "VDOS, history, corporate information, experience, Mutual funds, pension funds, sicav, foreign Collective Investment Institutions, information services, data, analysis, professional solutions, asset management"
nav_level: level_1
nav_pos: pos_2
sitemap:
  loc: http://www.vdos.com/en/history.html
  changefreq: monthly
  priority: 0.5
  lastmod: 2017-02-03T15:00:00+01:00
---
            <section class="container-fluid no-padding history-secuence">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-10 col-md-2 col-md-offset-10">
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin white-color bg-line-history1"> 1997
                            </h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center white-color bg-line-history2">Intuition
                            </span>
                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-9 col-md-2 col-md-offset-9">
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin bg-line-history3">2001</h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center bg-line-history4">Quality and <br>closeness</span>
                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-8 col-md-2 col-md-offset-8">
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin bg-line-history5" style=" ">2006</h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center bg-line-history6">Centralization and <br>distribution</span>
                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-7 col-md-2 col-md-offset-7">
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin white-color bg-line-history7" style=" ">2011</h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center white-color bg-line-history8" style=" ">Reliability and<br>Reference</span>
                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-6 col-md-2 col-md-offset-6">
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin brand-color bg-line-history9" style=" ">2016</h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center brand-color bg-line-history10" style=" ">Evolution  <br>and Utility</span>
                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5">
                            <span class="text-size14 font-kanit-regular text-uppercase text-center brand-color bg-line-history11">Innovation</span>
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin brand-color bg-line-history12">Today</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid no-padding bg-people-history min-height1210">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {% include breadcrumbs.html active_lang='en' %}
                        </div>
                        <h1 class="col-xs-12 col-md-6 col-md-offset-3 text-size36 text-center font-kanit-light white-color margin-top100 margin-xs-top15">
                            20 years of experience backing our clients
                        </h1>
                    </div>
                </div>
                <div class="container margin-top350 margin-xs-top350">
                    <div class="row">
                        <div class="col-xs-11 col-sm-6 col-md-6 ">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight white-color">
                                VDOS Stochastics is born
                            </h2>
                            <p class="white-color margin-top40 margin-xs-top15 text-xs-size12 ">
                                VDOS was created in Madrid with the objective of providing financial information services based on technology for the asset management industry.
                            </p>
                            <p class="white-color text-xs-size12 ">
                                The database of domestic investment funds, foreign collective investment institutions and pension funds is launched, as well as the repository of legal documentation and monthly factsheets. Every single client has exploitation access to a VD Fondos / VD Pensiones Workstation.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid no-padding min-height605">
                <div class="container margin-top200 margin-xs-top65">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-3">
                            <img src="../img/img-history-prisma-1.png" alt="" class="img-responsive img-prisma-history1">
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-1 col-md-offset-1">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight text-right text-xs-left">
                                Comparator, VDOS Classification and customized services
                            </h2>
                            <p class="margin-top40 margin-xs-top15 text-xs-size12 text-right text-xs-left">
                                VDOS launches the Comparator, a pioneering comparison tool in the industry at the time, and develops other customized web services. It also defines the methodology for the VDOS Categorization and the VDOS Rating, in order to facilitate the analytical tasks of financial institutions.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid no-padding bg-computer-history min-height1400">
                <div class="container margin-top300 margin-xs-top200">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-6">
                            <img src="../img/img-history-prisma-2.png" alt="" class="img-responsive img-prisma-history2">
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-6">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight text-right text-xs-left">
                                Unique platform of information services and tool
                            </h2>
                            <p class="margin-top40 margin-xs-top15 text-xs-size12 text-right text-xs-left">
                                With the aim of facilitating customer service and implementation of continuous improvements, VDOS develops quefondos Servicios Institucionales, a web platform suited to the needs of asset management companies, distributors and depositary institutions. The database of SICAVs is launched.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container margin-top300 margin-xs-top400">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight white-color">
                                New services and analysis
                            </h2>
                            <p class="white-color margin-top40 margin-xs-top15 text-xs-size12 ">
                                Investigación de mercado or Negocio institucional are some of the services that are incorporated to cover the new needs of the sector. At the same time, we generate reports and market studies on investment funds, pension plans and investment companies, becoming a source of reference in the sector.
                            </p>
                            <p class="white-color text-xs-size12">
                                With the objective of promoting financial culture among private investors, quefondos.com is created to facilitate access to the most complete and up-to-date information.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid no-padding margin-bottom300 min-height605">
                <div class="container margin-top300 margin-xs-top140">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-6">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight brand-color">
                                We keep on working
                            </h2>
                            <p class="margin-top40 margin-xs-top15 text-xs-size12 brand-color">
                                We keep on working on improvement of services, with an open and flexible vision that allows innovation, as well as helping our customers with our quality services offering.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 col-md-offset-1">
                            <img src="../img/img-home-prisma.png" alt="" class="img-responsive img-prisma-history3">
                        </div>
                    </div>
                </div>
            </section>

            {% include default-js.html %}
