---
layout: default
pagina: "legal"
title: "VDOS: Legal Information, Legal notice, terms and conditions"
description: "Legal Information, legal notice, terms and conditions about VDOS web page, data published and users website navigation."
keywords: "VDOS Legal Information, Data confidentiality, VDOS legal notice, VDOS Stochastics, VDOS activities legal information, owner of all rights on the software, legal responsibility third party links, VDOS trade marks."

sitemap:
  loc: http://www.vdos.com/en/legal.html
  changefreq: monthly
  priority: 0.5
  lastmod: 2017-02-03T15:00:00+01:00
---
            <section class="container-fluid no-padding bg-brand-color">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {% include breadcrumbs.html active_lang='en' %}
                        </div>
                        <h1 class="col-xs-12 col-md-12 white-color padding-bottom60">Legal Information</h1>
                    </div>
                </div>
            </section>
            <article class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="warm-grey-color padding-top30 padding-bottom30 text-size22">Welcome to VDOS Stochastics, S.L (hereafter, VDOS) website. The object of this website is to show the user the information that VDOS considers of relevance regarding its activities as well as information about the company.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="warm-grey2-color">Before you navigate this website, please read carefully the following text. If you consider not to accept or if you do not agree with the following terms and conditions, please do not use our website or its contents.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Terms and Conditions</h2>
                        <p class="warm-grey2-color">VDOS is the owner of all rights on the software of the website, as well as the industrial and intellectual property rights, according to Real Decreto Legislativo 1/1996 of 12 April, regarding the contents within, with the exception of rights on products and services that are not the property of our company, and are accepted as such by VDOS.</p>
                        <p class="warm-grey2-color">This website may contain references to VDOS trade marks or registered marks. Its usage is forbidden without previous and express approval of VDOS. Any reference to any other trade marks or registered marks belong to their respective owners.</p>
                        <p class="warm-grey2-color">Any person is authorized to view, copy, print and distribute any document published by VDOS on this site considering that (a) this document will exclusively be used for informational purposes (b) this document will not be used with comercial purposes (c) this document will always have to include a reference stating that it is VDOS property.</p>
                        <p class="warm-grey2-color">Materials in this website are protected by author rights and any unauthorized use of any material in this website may violate the law about author rights, trade marks and other regulation. The authorization given to use this website will be understood finished in case of infringement any of these conditions, you must immediately destroy any material obtained or printed from the website.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Legal Notice</h2>
                        <p class="warm-grey2-color">The information on this website is provided without any guarantee, neither explicit nor implicit, and may be changed or updated without prior warning.</p>
                        <p class="warm-grey2-color">Any information received by VDOS through this website is considered confidential unless it is otherwise stated in the data confidentiality section. Any other information that is sent to VDOS through these web pages may be used, reproduced, transformed, transmitted or disseminated by VDOS.</p>
                        <p class="warm-grey2-color">VDOS does not provide any recommendation for investments. None of the information shown on this page may be considered as recommendations and therefore the user agrees not to consider the content of the page as a recommendation.</p>
                        <p class="warm-grey2-color">VDOS does not accept any responsibility for contents that third parties may have included in the links to which this page refers. The establishing of links does not in any case imply the existance of any relationship between VDOS and the owner of the web page where it is established, neither the aceptance nor aproval by VDOS of its contents or services available for public use.</p>
                        <p class="warm-grey2-color">It is expressly forbidden any alteration, change, modification or adaptation of this web page or of any other information included in the page.</p>
                        <p class="warm-grey2-color">VDOS is not responsible for any damage in the user hardware or software derived from the access to this website or from the use of the information or applications within the page. VDOS may suspend the operation of the page for maintenance reasons and to update or improve its contents and functionality. VDOS does not guarantee that the access to this page, and the pages linked to this page, be interrupted or be error free.</p>
                        <p class="warm-grey2-color">The user will be liable for damages of any kind that VDOS may suffer as a consequence of non compliance with any of the obligations to which they are bound by the present terms and conditions. The user is aware and voluntarily accept that the use of any contents in this web page are, in any case, your sole and exclusive responsibility.</p>
                        <p class="warm-grey2-color">VDOS may unilaterally change the format and content of the page. It is recommended that the user make use of the update button of your web browser so that you may have access to its most recently updated version.</p>
                        <p class="warm-grey2-color">All these general conditions are ruled by the Spanish law. For any divergence produced between VDOS and the user, both parties will expressly submit, renouncing their own jurisdiction area, to the Courts and Tribunals of Madrid (Spain) in relation to the decision of the matter or proceedings.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Data confidentiality</h2>
                        <p class="warm-grey2-color">VDOS commits to respect the confidentiality of personal data provided by visitors to the web page, in accordance with the Organic Law 15/1999 of December 15, Protection of Personal Data.</p>
                        <p class="warm-grey2-color">For any suggestion or question about this legal notice, please read the section Legal Information on spanish.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 padding-bottom40">
                        <h2>Use of cookies</h2>
                        <p class="warm-grey2-color">Like most websites, VDOS.com uses cookies aiming to improve and optimize the user browsing experience. By using the website, you are accepting the <a href="cookies.html">cookies policy</a>.</p>
                    </div>
                </div>
            </article>

            {% include default-js.html %}
