---
layout: default
pagina: "soluciones"
title: "VDOS: Solutions for the asset management industry"
description: "Professional solutions that meet the business needs of the asset management industry: Distributors, Asset Management Companies and Depositary Institutions"
keywords: "asset management, depositary institutions, distributors, mutual funds, pension funds, investment funds, electronic banking, retail banking, personal banking, private banking, sicav, foreign collective investment institutions, business solutions, financial information services"
nav_level: level_1
nav_pos: pos_1
sitemap:
  loc: http://www.vdos.com/en/solutions.html
  changefreq: monthly
  priority: 0.5
  lastmod: 2017-02-03T15:00:00+01:00
---
            <!-- **************************************************************************************************** -->
            <!-- BREADCRUMB -->
            <!-- **************************************************************************************************** -->
            <section class="container-fluid no-padding bg-brand-color-polygon">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {% include breadcrumbs.html active_lang='en' %}
                        </div>
                        <h1 class="col-xs-12 col-md-6 col-md-offset-3 text-size36 text-center font-kanit-light white-color margin-top100 margin-xs-top15 margin-bottom100 margin-xs-bottom15">
                            VDOS offers professional solutions for the whole value chain in the asset management industry
                        </h1>
                    </div>
                </div>
            </section>
            <!-- **************************************************************************************************** -->

            <div class="container margin-top40 margin-bottom100">
                <div class="row">
                    <section class="col-xs-12 col-md-8 padding-top10">

                        <!-- **************************************************************************************************** -->
                        <!-- MENÚ DE SELECCIÓN DE TIPO DE ENTIDAD -->
                        <!-- **************************************************************************************************** -->
                        <h2 class="font-kanit-extralight">Which is your professional activity?</h2>
                        <nav class="margin-top20">
                            <ul class="nav nav-tabs nav-justified navbar-soluciones">
                                <li id="boton_soy_distribuidora" class="col-xs-4 col-md-4"><span>Distributor</span></li>
                                <li id="boton_soy_gestora" class="col-xs-4 col-md-4"><span>Asset Management</span></li>
                                <li id="boton_soy_depositaria" class="col-xs-4 col-md-4"><span>Depositary</span></li>
                            </ul>
                        </nav>
                        <!-- **************************************************************************************************** -->

                        <!-- **************************************************************************************************** -->
                        <!-- INFORMACIÓN INICIAL -->
                        <!-- **************************************************************************************************** -->
                        <div id="panel_inicial" class="warm-grey-color margin-top20">
                            <p>VDOS provides high value technology solutions to every player in the asset management industry. If you are a professional of the sector, VDOS has a solution specifically designed to solve your business needs, based on our own database of investment funds, sicavs, foreign collective investment institutions and pension funds.</p>
                            <p>All solutions are modular and customizable, giving them great flexibility and scalability to fit your enterprise.</p>
                            <div class="row margin-top20">
                                <div class="col-xs-12 col-md-5 padding-top20">
                                    <strong>You need more information?</strong>
                                </div>
                                <div class="col-xs-12 col-md-7">
                                    <a href="mailto:comecial@vdos.com?subject=Information%20request" class="btn btn-primary text-uppercase" role="button">Request more information</a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************************************************************************** -->

                        <!-- **************************************************************************************************** -->
                        <!-- INFORMACIÓN PARA DISTRIBUIDORAS -->
                        <!-- **************************************************************************************************** -->
                        <div id="panel_soy_distribuidora" style="display:none;">
                            <h3 class="font-karla-bold text-size17">Solutions for distributors</h3>
                            <p>
                                Solutions designed to improve marketing efficiency and customer advice,
                                customized for each segment: Electronic Banking, Retail Banking, Personal Banking and Private Banking.
                            </p>
                            <strong>Benefits</strong>
                            <ul class="reset-row-margins padding-left20 ul-li-padding-bottom15">
                                <li>Provide clear product information to the customer.</li>
                                <li>Facilitate commercial activity and interlocution with customers.</li>
                                <li>Favour customer acquisition and improve retention rates.</li>
                                <li>Increase customer and commercial network satisfaction over commercialized products.</li>
                                <li>Continuous adaptation to regulatory changes.</li>
                                <li>Centralize all products information in a single point.</li>
                            </ul>
                            <div class="row margin-top20">
                                <div class="col-xs-12 col-md-5 padding-top20">
                                    <strong>You need more information?</strong>
                                </div>
                                <div class="col-xs-12 col-md-7">
                                    <a href="mailto:comecial@vdos.com?subject=Information%20request%20for%20distributors" class="btn btn-primary text-uppercase" role="button">Request more information</a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************************************************************************** -->

                        <!-- **************************************************************************************************** -->
                        <!-- INFORMACIÓN PARA GESTORAS -->
                        <!-- **************************************************************************************************** -->
                        <div id="panel_soy_gestora" style="display: none;">
                            <h3 class="font-karla-bold text-size17">Solutions for asset management companies</h3>
                            <p>
                                Solutions focused on sector monitoring, asset management quality measurement and facilitating promotion and client services tasks.
                            </p>
                            <strong>Benefits</strong>
                            <ul class="reset-row-margins padding-left20 ul-li-padding-bottom15">
                                <li>Know the size and evolution of the sector at any period and point in time.</li>
                                <li>Evaluation of management quality against own competition.</li>
                                <li>Multiple functionality to explore and visualize products.</li>
                                <li>Time saving in preparation of market or competition studies.</li>
                                <li>Automatic generation of customized reports.</li>
                                <li>Access to all information of market products in a single point.</li>
                            </ul>
                            <div class="row margin-top20">
                                <div class="col-xs-12 col-md-5 padding-top20">
                                    <strong>You need more information?</strong>
                                </div>
                                <div class="col-xs-12 col-md-7">
                                    <a href="mailto:comecial@vdos.com?subject=Information%20request%20for%20asset%20management" class="btn btn-primary text-uppercase" role="button">Request more information</a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************************************************************************** -->

                        <!-- **************************************************************************************************** -->
                        <!-- INFORMACIÓN PARA DEPOSITARIAS -->
                        <!-- **************************************************************************************************** -->
                        <div id="panel_soy_depositaria" style="display: none;">
                            <h3 class="font-karla-bold text-size17">Solutions for depositary institutions</h3>
                            <p>
                                Solutions designed for an in-depth knowledge of sector dynamics,
                                facilitating commercial activities and providing support to control and supervision tasks.
                            </p>
                            <strong>Benefits</strong>
                            <ul class="reset-row-margins padding-left20 ul-li-padding-bottom15">
                                <li>Know the size and evolution of the sector at any period and point in time.</li>
                                <li>In-depth knowledge of current and potential customer.</li>
                                <li>Monitoring own business against competitors.</li>
                                <li>Market positioning in terms of fees.</li>
                                <li>Time saving in preparation of market, competition or customer studies.</li>
                                <li>Access to all information of market products in a single point.</li>
                            </ul>
                            <div class="row margin-top20">
                                <div class="col-xs-12 col-md-5 padding-top20">
                                    <strong>You need more information?</strong>
                                </div>
                                <div class="col-xs-12 col-md-7">
                                    <a href="mailto:comecial@vdos.com?subject=Information%20request%20for%20depositary%20institutions" class="btn btn-primary text-uppercase" role="button">Request more information</a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************************************************************************** -->

                    </section>

                    <!-- **************************************************************************************************** -->
                    <!-- SUSCRIPCIÓN AL NEWSLETTER -->
                    <!-- **************************************************************************************************** -->
                    <aside class="col-xs-12 col-md-4 padding-top60 padding-right30 padding-left30 bg-light-grey-color-polygon">
                        <header class="text-size22">Subscribe to our reports.</header>
                        <p>Receive by email all the information on the sector evolution.</p>
                        <div class="margin-top40 text-center">
                            <a href="http://eepurl.com/czP_gz" target="_blank" role="button" class="btn btn btn-default btn-full-width bg-light-grey-color">Subscribe</a>
                        </div>
                    </aside>
                    <!-- **************************************************************************************************** -->

                </div>
            </div>

            {% include default-js.html %}

            <script>
                function main() {
                    $('#boton_soy_gestora').click(function (event) {
                        if($('#panel_soy_gestora').is(":visible")) mostrar_seccion('inicial');
                        else mostrar_seccion('soy_gestora');
                    });
                    $('#boton_soy_distribuidora').click(function (event) {
                        if($('#panel_soy_distribuidora').is(":visible"))  mostrar_seccion('inicial');
                        else mostrar_seccion('soy_distribuidora');
                    });
                    $('#boton_soy_depositaria').click(function (event) {
                        if($('#panel_soy_depositaria').is(":visible"))  mostrar_seccion('inicial');
                        else mostrar_seccion('soy_depositaria');
                    });
                }

                function mostrar_seccion(id) {
                    _hide_all();
                    _show(id)
                }

                panel_list = ['panel_soy_gestora', 'panel_soy_distribuidora', 'panel_soy_depositaria', 'panel_inicial'];
                boton_list = ['boton_soy_gestora', 'boton_soy_distribuidora', 'boton_soy_depositaria'];
                function _hide_all() {
                    panel_list.forEach(function (entry) {
                        $('#' + entry).hide().attr({height: '0'});
                    });
                    boton_list.forEach(function (entry) {
                        $('#' + entry).removeClass('active');
                    });
                }

                function _show(id) {
                    $('#panel_' + id).show().attr({height: 'auto'});
                    $('#boton_' + id).addClass('active');
                }

                $(window).load(function () {
                    main();
                });
            </script>
