{% assign datatext = site.data.text %}
{% assign datalang = site.data.[active_lang].text %}
{% assign actual_txt = site.data.[active_lang].text.[page.pagina].title %}

        <!-- **************************************************************************************************** -->
        <!-- FOOTER-->
        <!-- **************************************************************************************************** -->
        <footer class="container-fluid warm-grey2-color">
            <div class="row">
                <ol class="breadcrumb">

                    {% if page.pagina != "inicio" %}
                        <li><a href="{{datalang.inicio.href | absolute_url }}">{{datalang.inicio.title}}</a></li>
                    {% endif %}
                    <li>{{actual_txt}}</li>

                </ol>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <p class="padding-bottom10">
                            <a href="{{datalang.soluciones.href | absolute_url }}">{{datalang.soluciones.title}}</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <p class="padding-bottom10">
                            <a href="{{datalang.historia.href | absolute_url }}">{{datalang.historia.title}}</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-3 col-md-offset-3">
                        <p class="padding-bottom10">
                            <a href="{{datalang.contacto.href | absolute_url }}">{{datalang.contacto.title}}</a>
                        </p>
                        <p>
                            C/ Maldonado 52 1º A
                            <br> 28006 Madrid, España
                            <br> (+34) 914 02 02 92
                            <br> <a href="mailto:{{datatext.email_general}}">{{datatext.email_general}}</a>
                            <br>
                        </p>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.linkedin.com/company/vdos-stochastics" target="_blank">
                                    <img src="{{ 'img/logo-footer-linkedin.png' | absolute_url }}" title="linkedin" alt="linkedin" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/VDOSStochastics" target="_blank">
                                    <img src="{{ '/img/logo-footer-twitter.png' | absolute_url}}" title="twitter" alt="twitter" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container footer-legal separator-dark">
                <div class="row">
                    <div class="col-xs-12 col-md-2 padding-top20 padding-bottom20">
                        <a href="{{datalang.inicio.href}}"><img src=" {{ 'img/logo-footer-vdos.png'  | absolute_url }}" alt="VDOS" title="{{datalang.inicio.ir | absolute_url }}" /></a>
                    </div>
                    <div class="col-xs-12 col-md-8 padding-top20 padding-bottom20 text-center">
                        <p>{{datatext.copyright}} {{datalang.legal.derechos}} |
                            <a class="warm-grey2-color text-underline" href="{{datalang.legal.href | absolute_url }}" title="{{datalang.legal.title}}">{{datalang.legal.title}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
