{% assign datalang = site.data.[active_lang].text %}

        <!-- **************************************************************************************************** -->
        <!-- HEADER -->
        <!-- **************************************************************************************************** -->
        <header class="container margin-top40 margin-bottom40 hidden-xs">
            <a href="{{datalang.men_inicio.href}}"><img src="../img/logo-header-vdos.png" alt="VDOS" title="{{datalang.men_inicio.ir}}" class="header-logo" /></a>
        </header>
