---
layout: default
pagina: "cookies"
title: "Política de cookies"
description: "Descripción de la política de cookies, uso y funcionalidad de las mismas."
keywords: "VDOS, política de cookies, experiencia de navegación, cookies propias, cookies de terceros, funcionamiento de las cookies, deshabilitar cookies"

sitemap:
  loc: http://www.vdos.com/es/cookies.html
  changefreq: monthly
  priority: 0.5
  lastmod: 2017-02-03T15:00:00+01:00
---
            <section class="container-fluid no-padding bg-brand-color">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {% include breadcrumbs.html active_lang='es' %}
                        </div>
                        <h1 class="col-xs-12 col-md-12 white-color padding-bottom60">Política de cookies</h1>
                    </div>
                </div>
            </section>
            <article class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="warm-grey-color padding-top30 padding-bottom30 text-size22">
                            VDOS.com, al igual que la mayoría de sitios web, utiliza cookies con el objetivo de mejorar y optimizar la experiencia de navegación del usuario.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="warm-grey2-color"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>¿Qué son las cookies?</h2>
                        <p class="warm-grey2-color">Las cookies son archivos descargados en el dispositivo del usuario al acceder a determinadas páginas web que proporcionan información acerca de la navegación.</p>
                        <p class="warm-grey2-color">Dicha información permite conocer los hábitos de navegación, ver qué páginas se visitan, con que frecuencia, así como si existen problemas técnicos.</p>
                        <p class="warm-grey2-color">Gracias a esta información, vdos.com puede seguir mejorando sus servicio a los usuarios y mejorando la experiencia de navegación.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Tipología, finalidad y funcionamiento de las cookies</h2>
                        <p class="warm-grey2-color">Existen varios tipos de cookies en función de distintos criterios:</p>
                        <p class="warm-grey2-color">En función de la titularidad:</p>
                        <ul>
                            <li>Cookies propias: Son aquellas que pertenecen a vdos.com.</li>
                            <li>Cookies de terceros: aquellas cuya titularidad es de un tercero distinto de vdos.com.</li>
                        </ul>
                        <p class="warm-grey2-color">En función de la finalidad:</p>
                        <ul>
                            <li>Cookies técnicas: Son aquéllas que sirven para mejorar el servicio, localizar incidencias, etc.</li>
                            <li>Cookies analíticas o de publicidad. Son aquéllas que sirven para analizar información sobre la navegación y ofrecer publicidad, sea genérica o personalizada.</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 margin-bottom40">
                        <h2>Cómo deshabilitar las cookies en los principales navegadores</h2>
                        <p class="warm-grey2-color">Normalmente es posible dejar de aceptar las cookies del navegador, o dejar de aceptar las cookies de un Servicio en particular. En este caso, es posible que no puedas acceder a alguno de los servicios y que la experiencia de navegación pueda resultar menos satisfactoria.</p>
                        <p class="warm-grey2-color">Para desactivar el uso de cookies, en la mayoría de los navegadores puedes acceder desde “opciones” o “preferencias’ del menú de su navegador.</p>
                        <p class="warm-grey2-color">En los siguientes enlaces puedes obtener más información acerca de cómo bloquear o permitir cookies en los principales navegadores:</p>
                        <ul>
                            <li><a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a></li>
                            <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we">Firefox</a></li>
                            <li><a href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a></li>
                            <li><a href="https://support.apple.com/kb/ph5042?locale=es_US">Safari</a></li>
                        </ul>
                    </div>
                </div>

            </article>

            {% include default-js.html %}
