---
layout: default
pagina: "historia"
title: "VDOS: 20 años de experiencia"
description: "VDOS nace hace 20 años con el objetivo de ofrecer servicios y soluciones en continua evolución a la industria de gestión de activos."
keywords: "VDOS, historia, información corporativa, experiencia, fondos de inversión, planes de pensiones, sociedades de inversión, IIC extranjeras, servicios de información, datos, análisis, soluciones profesionales, gestión de activos"
nav_level: level_1
nav_pos: pos_2
sitemap:
  loc: http://www.vdos.com/es/historia.html
  changefreq: monthly
  priority: 0.5
  lastmod: 2017-02-03T15:00:00+01:00
---
            <section class="container-fluid no-padding history-secuence">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-10 col-md-2 col-md-offset-10">
                            <h2 class="text-size72 text-xs-size50 text-xs-size22 font-kanit-thin white-color bg-line-history1"> 1997
                            </h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center white-color bg-line-history2">Intuición
                            </span>
                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-9 col-md-2 col-md-offset-9">
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin bg-line-history3">2001</h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center bg-line-history4">Calidad e <br>inmediatez</span>
                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-8 col-md-2 col-md-offset-8">
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin bg-line-history5" style=" ">2006</h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center bg-line-history6">Centralización y distribución</span>

                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-7 col-md-2 col-md-offset-7">
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin white-color bg-line-history7" style=" ">2011</h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center white-color bg-line-history8" style=" ">Fiabilidad <br>y Referente</span>
                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-6 col-md-2 col-md-offset-6">
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin brand-color bg-line-history9" style=" ">2016</h2>
                            <span class="text-size14 font-kanit-regular text-uppercase text-center brand-color bg-line-history10" style=" ">Evolución  <br>y Utilidad</span>
                        </div>
                        <div class="col-xs-2 col-xs-offset-10 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5">
                            <span class="text-size14 font-kanit-regular text-uppercase text-center brand-color bg-line-history11">Innovación</span>
                            <h2 class="text-size72 text-xs-size50 font-kanit-thin brand-color bg-line-history12">Hoy</h2>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid no-padding bg-people-history min-height1210">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {% include breadcrumbs.html active_lang='es' %}
                        </div>
                        <h1 class="col-xs-12 col-md-6 col-md-offset-3 text-size36 text-center font-kanit-light white-color margin-top100 margin-xs-top15">
                            20 años de experiencia acompañando a nuestros clientes
                        </h1>
                    </div>
                </div>
                <div class="container margin-top350 margin-xs-top350">
                    <div class="row">
                        <div class="col-xs-11 col-sm-6 col-md-6 ">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight white-color">
                                Nace VDOS Stochastics
                            </h2>
                            <p class="white-color margin-top40 margin-xs-top15 text-xs-size12 ">
                                VDOS es constituida en Madrid con el objeto de prestar servicios de información financiera sobre la base de la tecnología para la industria de gestión de activos.
                            </p>
                            <p class="white-color text-xs-size12 ">
                                Se pone en marcha la base de datos de fondos nacionales, IIC extranjeras y planes de pensiones, así como el repositorio de documentación legal y fichas mensuales. Para su explotación, cada cliente cuenta con la aplicación VD Fondos / VD Pensiones Workstation.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid no-padding min-height605">
                <div class="container margin-top200 margin-xs-top65">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-3">
                            <img src="../img/img-history-prisma-1.png" alt="" class="img-responsive img-prisma-history1">
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-1 col-md-offset-1">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight text-right text-xs-left">
                                Comparador, Clasificación VDOS y servicios a medida
                            </h2>
                            <p class="margin-top40 margin-xs-top15 text-xs-size12 text-right text-xs-left">
                                VDOS lanza el Comparador, herramienta de comparación pionera en la industria y desarrolla otros servicios web a medida de los clientes. Igualmente define la metodología para las Categorías VDOS y Rating VDOS, con el fin de facilitar las tareas de análisis de las entidades financieras.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid no-padding bg-computer-history min-height1400">
                <div class="container margin-top300 margin-xs-top200">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-6">
                            <img src="../img/img-history-prisma-2.png" alt="" class="img-responsive img-prisma-history2">
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-6">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight text-right text-xs-left">
                                Plataforma única de servicios de información y herramientas
                            </h2>
                            <p class="margin-top40 margin-xs-top15 text-xs-size12 text-right text-xs-left">
                                Con el objetivo de facilitar los servicios al cliente y la implementación continua de mejoras, VDOS desarrolla quefondos Servicios Institucionales, plataforma web adaptada a las necesidades de entidades gestoras, distribuidoras y depositarias.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container margin-top300 margin-xs-top400">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight white-color">
                                Nuevos servicios y análisis
                            </h2>
                            <p class="white-color margin-top40 margin-xs-top15 text-xs-size12 ">
                                Investigación de mercado o Negocio institucional son algunos los servicios que se incorporan para cubrir las nuevas necesidades del sector. Al mismo tiempo se elaboran informes y estudios de mercado de fondos de inversión, planes de pensiones y sociedades de inversión, convirtiéndonos en fuente de referencia del sector.
                            </p>
                            <p class="white-color text-xs-size12">
                                Con el objetivo de fomentar la cultura financiera entre los inversores particulares, nace quefondos.com, haciendo accesible la información más completa y actualizada.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid no-padding margin-bottom300 min-height605">
                <div class="container margin-top300 margin-xs-top140">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-6">
                            <h2 class="text-size36 text-xs-size17 font-kanit-extralight brand-color">
                                Seguimos trabajando
                            </h2>
                            <p class="margin-top40 margin-xs-top15 text-xs-size12 brand-color">
                                Se trabaja en la mejora continua de los servicios, ofrecer una visión abierta y flexible que permita la innovación, así como acompañar a nuestros clientes ofreciendo servicios de calidad.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 col-md-offset-1">
                            <img src="../img/img-home-prisma.png" alt="" class="img-responsive img-prisma-history3">
                        </div>
                    </div>
                </div>
            </section>

            {% include default-js.html %}
