---
title: 'VDOS: Información legal, advertencias, términos y condiciones de la web'
layout: default
pagina: legal
description: Información legal, advertencias, términos y condiciones de la página
  VDOS.com relativas a los datos publicados y navegación por parte del usuario.
keywords: Información legal VDOS, confidencialidad de datos, VDOS advertencias legales,
  VDOS Stochastics, información legal actividades VDOS, titularidad derechos de software,
  responsabilidades enlaces web, VDOS marca registrada.
sitemap:
  loc: http://www.vdos.com/es/legal.html
  changefreq: monthly
  priority: 0.5
  lastmod: 2017-02-03 14:00:00 Z
---

            <section class="container-fluid no-padding bg-brand-color">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {% include breadcrumbs.html active_lang='es' %}
                        </div>
                        <h1 class="col-xs-12 col-md-12 white-color padding-bottom60">Información legal</h1>
                    </div>
                </div>
            </section>
            <article class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="warm-grey-color padding-top30 padding-bottom30 text-size22">Bienvenido a la página web de VDOS Stochastics, S.L (en adelante, VDOS). El objeto de esta página web es mostrar al usuario aquella información que VDOS considera relevante acerca de sus actividades así como información relativa a la compañía.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="warm-grey2-color">Previamente a navegar por esta página web, lea atentamente el siguiente texto. En el caso de que considere no aceptar o no esté de acuerdo con los siguientes términos y condiciones, le rogamos que no haga uso de nuestra página web y su contenido.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Términos y condiciones</h2>
                        <p class="warm-grey2-color">VDOS es titular de todos los derechos sobre el software de la página web así como de los derechos de propiedad industrial e intelectual, rigiéndose conforme al Real Decreto Legislativo 1/1996 de 12 de abril, referidos a los contenidos que en ella se incluyen, a excepción de los derechos sobre productos y servicios que no son propiedad de esta compañía, cuyas marcas están registradas a favor de sus respectivos titulares, y como tal son reconocidas por VDOS.</p>
                        <p class="warm-grey2-color">Esta página web puede contener referencias a marcas comerciales o marcas registradas de VDOS. Queda prohibido su uso sin el consentimiento previo y expreso de VDOS. Todas las demás referencias a otras marcas comerciales o registradas pertenecen a sus respectivos propietarios.</p>
                        <p class="warm-grey2-color">Cualquier persona está autorizada para ver, copiar, imprimir y distribuir cualquier documento publicado por VDOS en esta página web teniendo en cuenta que: (a) dicho documento será utilizado exclusivamente con fines informativos; (b) dicho documento no podrá ser utilizado con fines comerciales; (c) dicho documento deberá siempre incluir referencia de que es propiedad de VDOS.</p>
                        <p class="warm-grey2-color">Los materiales en esta página web están protegidos por derechos de autor y cualquier uso no autorizado de cualquier material de esta página web puede violar la normativa sobre derechos de autor, marcas y otras regulaciones. La autorización concedida para utilizar esta página web se entenderá automáticamente terminada en caso de infringir cualquiera de estas condiciones, estando obligado a destruir inmediatamente cualquier material obtenido o impreso de la página web.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Advertencia legal</h2>
                        <p class="warm-grey2-color">La información de esta página web se proporciona sin garantía de ninguna clase, ni explícita ni implícita, y podrá cambiarse o actualizarse sin previo aviso.</p>
                        <p class="warm-grey2-color">Toda la información que reciba VDOS a través de este sitio web no se considerará confidencial salvo que esté contemplada en el apartado de confidencialidad de datos. Cualquier otra información que sea enviada a VDOS a través de estas páginas web podrá ser utilizada, reproducida, transformada, transmitida o difundida por VDOS.</p>
                        <p class="warm-grey2-color">VDOS no proporciona ningún tipo de recomendación a la hora de invertir. Ninguna de las informaciones que aparecen en la página pueden ser consideradas como recomendaciones y por tanto el usuario se compromete a no tratar el contenido de la página como tal.</p>
                        <p class="warm-grey2-color">VDOS no asume responsabilidad alguna derivada de los contenidos que terceras partes hayan incluido en los enlaces a los que se hace referencia en esta página. El establecimiento de enlaces no implica en ningún caso la existencia de relaciones entre VDOS y el propietario de la página web en la que se establezca, ni la aceptación y aprobación por parte de VDOS de sus contenidos o servicios allí puestos a disposición del público.</p>
                        <p class="warm-grey2-color">Queda expresamente prohibido cualquier alteración, cambio, modificación o adaptación de esta página web o de cualquier información que la misma contenga.</p>
                        <p class="warm-grey2-color">VDOS no se hace responsable de ningún daño o perjuicio en el software o hardware del usuario que se derive del acceso a su página web o del uso de información o aplicaciones en ella contenidas. VDOS puede suspender el funcionamiento de esta página para su reparación o mantenimiento y así actualizar o mejorar su contenido y funcionalidad. VDOS no garantiza que el acceso o el uso de esta página y de las páginas que tienen un enlace dentro de ella, sea ininterrumpido o esté libre de error.</p>
                        <p class="warm-grey2-color">El usuario responderá de los daños y perjuicios de toda naturaleza que VDOS pueda sufrir como consecuencia del incumplimiento de cualquiera de las obligaciones a las que queda sometido por las presentes condiciones. El usuario es consciente y acepta voluntariamente que el uso de cualesquiera contenidos de esta página web tiene lugar, en todo caso, bajo su única y exclusiva responsabilidad.</p>
                        <p class="warm-grey2-color">VDOS puede unilateralmente cambiar el formato y contenido de la página. Se aconseja al usuario utilizar el botón de actualizar de su navegador cada vez que visite la página web para así acceder a la versión más actualizada de la misma.</p>
                        <p class="warm-grey2-color">Estas condiciones generales se rigen por la ley española. Para cualquier divergencia surgida entre VDOS y el usuario, ambas partes se someten expresamente, con renuncia a su propio fuero, a los Juzgados y Tribunales de la ciudad de Madrid (España) en relación a la decisión del asunto o litigio planteado.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Confidencialidad de los datos</h2>
                        <p class="warm-grey2-color">VDOS se compromete a respetar la confidencialidad de los datos de carácter personal aportados por los visitantes a la página web en aplicación de lo dispuesto en la Ley Orgánica 15/1999 de 13 de diciembre, de protección de datos de carácter personal.</p>
                        <p class="warm-grey2-color">Para cualquier sugerencia o pregunta acerca de este aviso legal contacte con nosotros.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 padding-bottom40">
                        <h2>Uso de cookies</h2>
                        <p class="warm-grey2-color">VDOS.com, al igual que la mayoría de sitios web, utiliza cookies con el objetivo de mejorar y optimizar la experiencia de navegación del usuario. Al usar la web, estás aceptando la <a href="cookies.html">Política de cookies</a>.</p>
                    </div>
                </div>
            </article>

            {% include default-js.html %}
