---
layout: default
---

    <section class="container-fluid no-padding bg-brand-color">
        <div class="container">
            <div class="row">
                <h1 class="col-xs-12 col-md-12 white-color padding-bottom60">{{page.title}}</h1>
            </div>
        </div>
    </section>

    <article class="container">
        <div class="row">
            {% if page.article-image %}
            <div class="col-xs-12 col-md-12">
                <img src="{{ page.article-image | absolute_url }}" title="{{ page.article-image-title}}" class="img-responsive"/>
            </div>
            {% endif %}
            <div class="col-xs-12 col-md-12">
                {{ content }}
            </div>
        </div>
    </article>
    {% include default-js.html %}